# ansible managed
{% for group in configspaces | default([]) %}
{%   for line in hostvars[inventory_hostname][group]['config']['firewall']['interface'][iface][file] | default([]) %}
{{ line if line is not none }}
{%   endfor %}
{% endfor %}
