---
- name: install software
  apt:
    name: "{{ item }}"
    state: present
  loop:
    - firewall-lihas
  loop_control:
    loop_var: item
  notify: reload_firewall-lihas

# LXCs: use NFLOG
- name: "/etc/default/firewall: TARGETLOG=NFLOG"
  lineinfile:
    path: /etc/default/firewall
    regexp: '^TARGETLOG='
    line: 'TARGETLOG=NFLOG'
    create: yes
  when: ansible_virtualization_type == 'lxc'
  notify: reload_firewall-lihas

# lihas_ansible_keepalived integration
- name: combine keepalive ip correlations, init
  set_fact:
    keepalive_ip_correlation: {}
- name: combine keepalive ip correlations, expand with configspaces
  set_fact:
    keepalive_ip_correlation: "{{ keepalive_ip_correlation | combine(hostvars[inventory_hostname][item]['config']['roles']['keepalived']['ip_correlation'] | default({})) }}"
    cacheable: no
  loop: "{{ configspaces }}"

# firewall-lihas
- name: config firewall-lihas
  template:
    src: "{{ file }}.j2"
    dest: "/{{ file }}"
  loop:
    - etc/firewall.lihas.d/localhost-ansible
    - etc/firewall.lihas.d/include/ansible_keepalived_snat
    - etc/firewall.lihas.d/include/ansible_keepalived_dnat
    - etc/firewall.lihas.d/include/ansible_keepalived_privclients
  loop_control:
    loop_var: file
  notify: reload_firewall-lihas
- name: "/etc/firewall.lihas.d/localhost: load /etc/firewall.lihas.d/localhost-ansible"
  lineinfile:
    path: /etc/firewall.lihas.d/localhost
    regexp: '^. /etc/firewall.lihas.d/localhost-ansible'
    line: '. /etc/firewall.lihas.d/localhost-ansible'
    create: yes
  notify: reload_firewall-lihas
- name: "configgroups evaluation"
  include: configgroup.yml
  loop: "{{ configspaces }}"
  loop_control:
    loop_var: configgroup
- name: enable firewall-lihas
  service:
    name: firewall-lihas
    enabled: true
